@import "tailwindcss";

@theme {
  --color-genetec-purple: #5D2F86;
  --color-tech-blue: #2563EB;
  --color-slate-900: #0f172a;

  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  /* ExtraBold */
  letter-spacing: -0.025em;
  /* Tight tracking */
}